.topbar {
    height: 100px;
    background-color: #0C0A09;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
body{
    background-color: #161514;
}
.logo {
    height: 70px;
    margin-left: 15px;
}
.settings {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22C55E;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    border: 5px solid #1a8541;
    margin-right: 10px;
    overflow: visible;
}

.gear {
    height: 55px;
    width: 55px;
    transition: transform 0.3s ease-in-out;
}

.settings:hover .gear {
    transform: rotate(360deg);
}

.panel {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Add transitions for opacity and visibility */
}

.settings:hover .panel {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.chatbox{
margin-top: 20px;
margin-bottom: 20px;
}
.chatindex {
    width: 900px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .buttonpart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .links {
    width: 100px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    background-color: #22C55E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .links:hover {
    background-color: #0c0a09; /* Darker background color on hover */
  }
