.topbar {
    height: 100px;
    background-color: #0C0A09;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
body{
    background-color: #161514;
    margin: 0;
    padding: 0;
}
.logo {
    height: 70px;
    margin-left: 15px;
}
.settings {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22C55E;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    border: 5px solid #1a8541;
    margin-right: 10px;
    overflow: visible;
}

.gear {
    height: 55px;
    width: 55px;
    transition: transform 0.3s ease-in-out;
}

.settings:hover .gear {
    transform: rotate(360deg);
}

.panel {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Add transitions for opacity and visibility */
}

.settings:hover .panel {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.chatbox{
margin-top: 20px;
margin-bottom: 20px;
}
.chatindex {
    width: 900px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .buttonpart {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    align-items: center;
    flex-direction: row;
}

.links {
    width: 150px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    background-color: #22C55E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-decoration: none; /* Remove underline from links */
    color: black;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 40px;
}
.links a {
    color: black;
    font-weight: bold;
}
.links:hover {
    background-color:#1a8541;
    ;
}
.footer {
    background-color: #222; /* Set your desired background color */
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center; /* Optional: Center align text */
    margin: 0; /* Remove margins */
    display:flex;
    justify-content: space-between;
}
.footer a{
    margin-left: 100px;
    margin-right: 100px;
    color:#161514;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
